Connected Services/ServicioEnfermedadSW/ServicioEnfermedadSWPort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://serviciosWeb/" targetNamespace="http://serviciosWeb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="agregarEnfermedad">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:enfermedad" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="agregarEnfermedadResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listarEnfermedades" />
  <xsd:complexType name="listarEnfermedadesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="enfermedad">
    <xsd:sequence>
      <xsd:element name="codigo" type="xsd:int" />
      <xsd:element minOccurs="0" name="nombre" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="agregarEnfermedad" type="ns0:agregarEnfermedad" />
  <xsd:element name="agregarEnfermedadResponse" type="ns0:agregarEnfermedadResponse" />
  <xsd:element name="listarEnfermedades" type="ns0:listarEnfermedades" />
  <xsd:element name="listarEnfermedadesResponse" type="ns0:listarEnfermedadesResponse" />
</xsd:schema>